body {
    font: 15px/1.5 noto-sans;
    padding: 0;
    margin: 0;
    background-color: #282c37;
	color: white;
}

.container {
    margin: auto;
    overflow: hidden;
}

section .container {
    width: 80%;
}

li button {
    height: 38px;
    background: #9baec8;
    border: 0;
    color: white;
    text-shadow: black 3px 3px 5px;

}

li.current button {
    background: linear-gradient(45deg,#0044AA,#0068C8);
}

header {
    background: linear-gradient(to bottom right, #87A556, #3BC18E);
    background-image: url('../img/DSC_3843.webp');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    color: white;
	padding-left: 5%;
    min-height: 70px;
    border-bottom: #F57421 3px solid;
    text-shadow: black 3px 3px 5px;
}

header button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header button {
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.inline-link {
    color: #0068C8;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header #branding {
    float: left;
    padding-top: 10px;
}

header #branding img {
    width: 100px;
    height: 100px;
}

header #branding h1 {
    margin: 0;
}

#showcase {
    min-height: 400px;
    /* background: url('../img/DSC_3843.webp') no-repeat 0; */
    text-align: center;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    padding: 10px;
    background: #d9e1e8;
    color: black;
    margin-bottom: 20px;
}

#boxes a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#boxes a:hover {
    color: #0087ED;
    font-weight: bold;
}

.box a img {
    width: 100%;
}
