body {
    font: 15px/1.5 noto-sans;
    padding: 0;
    margin: 0;
    background-color: #282c37;
	color: white;
}

.container {
    margin: auto;
    overflow: hidden;
}

section .container {
    width: 80%;
}

li button {
    height: 38px;
    background: #9baec8;
    border: 0;
    color: white;
    text-shadow: black 3px 3px 5px;
    
}

li.current button {
    background: #0044AA;
}

header {
    background-color: #87A556;
    background-image: url('../img/DSC_3843.webp');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    color: white;
	padding-left: 5%;
    min-height: 70px;
    border-bottom: #F57421 3px solid;
    text-shadow: black 3px 3px 5px;
}

header button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header button {
    transition: background-color 0.5s ease;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header #branding {
    float: left;
	padding-top: 10px;
}

header #branding h1 {
    margin: 0;
}

/* V Mobile View V */
@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    header nav {
        float: top;
    }
    
    header ul {
        float: right;
        display: block;
    }
    
    header #branding {
        padding-top: 5%;
    }
    
    header li button {
        width: 100%;
    }
    
    #expand-toggle {
        display: none;
    }
    
    .expandable {
        visibility: collapse;
    }
    
    #expand-btn {
        background-color: #9baec8;
        text-align: center;
        width: 100%;
        float: right;
        font-size: 16px;
        text-decoration: none;
        height: 31px;
        padding-top: 5px;
    }
    
    #expand-toggle:checked ~ .expandable {
        visibility: visible;
    }
    
    #expand-toggle:checked ~ #expand-btn {
        background-color: #F57421;
    }
}
/* ^ Mobile View ^ */

/* V Desktop View V */
@media only screen and (min-width: 601px) {
    .mobile {
        display: none;
    }

    header nav {
        float: right;
        margin-top: 123px;
    }
    
    header li {
        float: left;
        display: inline
    }
    
    header button:hover {
        background-color: #0087ED;
    }
    
    header button.first {
        border-top-left-radius: 10px;
    }
    
    /*header button.last {
        border-top-right-radius: 10px;
    }*/
}
/* ^ Desktop View ^ */

#showcase {
    min-height: 400px;
    background: url('../img/DSC_3843.png') no-repeat 0;
    text-align: center;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 33%;
    padding: 10px;
    background: #d9e1e8;
    color: black;
}

#boxes a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#boxes a:hover {
    color: #0087ED;
    font-weight: bold;
}
