<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="with=device-width">
		<title>Page Title</title>
		<link rel="stylesheet" href="../../../../css/style.css">
	</head>
	<body>
		<header>
            <div class="container">
                <div id="branding">
                    <img src="../../../../img/MyStyle 2 cropped.png" width="100" 
height="100">
                    <h1><span>easthighNerd</span></h1>
                </div>
                <nav>
                    <ul>
                        <input class="mobile" type="checkbox" id="expand-toggle" />
                        <label class="mobile" for="expand-toggle" id="expand-btn">Menu</label>
                        <li class="expandable">
                            <a href="../../../../">
                                <button class="first">Home</button>
                            </a>
                        </li>
                        <li class="expandable">
                            <a href="../../../../projects/">
                                <button>Projects</button>
                            </a>
                        </li>
                        <li class="expandable">
                            <a href="https://github.com/easthighNerd/">
                                <button>Github</button>
                            </a>
                        </li>
                        <li class="current expandable">
                            <a href="../../../">
                                <button>Blog</button>
                            </a>
                        </li>
                        <li class="expandable">
                            <a rel="me" href="https://niu.moe/@easthighNerd">
                                <button class="last">Mastodon</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="showcase">
           <div class="container">
            ARTICLE_HERE
            <br>
            <br>
            <p style="font-size: 20px;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" height="20px" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
            </div>
        </section>
	</body>
</html>
